{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Hier kannst du eine neue Schätzfrage hinzufügen</h1>
<ul class="list-group list-group-flush" id="notes"></ul>
<form method="POST">
  <div align="center">
    <label for="fname">Frage:</label>
    <input
      type="text"
      id="frage"
      name="frage"
      placeholder="Deine Frage ... "
    /><br />
    <label for="antwort">Antwort:</label>
    <input
      type="text"
      id="antwort"
      name="antwort"
      placeholder="Antwort ... "
    /><br /><br />
    <button type="submit" class="btn btn-primary">Frage hinzufügen</button>
  </div>
</form>
{% endblock %}
