{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">
  Hier kannst du eine neue Kategorie für das Spiel Zwei dume, ein Gedanke
  hinzufügen
</h1>
<ul class="list-group list-group-flush" id="notes"></ul>
<form method="POST">
  <div align="center">
    <label for="fname">Kategorie:</label>
    <input
      type="text"
      id="categorie"
      name="categorie"
      placeholder="Deine Kategorie ... "
    /><br />
    <button type="submit" class="btn btn-primary">Kategorie hinzufügen</button>
  </div>
</form>
{% endblock %}
